<!DOCTYPE html>
<html>
    <head>
        <title>TODOs</title>
        <link href="/assets/styles.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <%- include('partials/nav') %>
        <h1>Welcome to an awesome website on the net!</h1>
        <div>
            <p>You won't find a website better anywhere else</p>
        <div>
    </body>
</html>